<%= render 'form' %>
<% unless @address %>
  <p class="mt-4 text-sm text-gray-500 dark:text-gray-400">Enter an address, city, state or ZIP Code to get started</p>
<% end %>

<%= render 'shared/alert' if @alert %>
<div class="grid md:grid-cols-4 gap-2 justify-center">
  <%= render 'current_conditions' if @current_conditions %>
  <%= render 'todays_forecast' if @todays_forecast %>
</div>

<%= render 'forecast' if @days %>